<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />

<!-- Additional id to be used within #attempt -->

<p id="response"> </p> 
<p id="matches"> </p>
<p id="message" class="message"> </p>

<script>

// Suppress normal form submission
$("#entry").submit( function(event) {
   event.preventDefault();
  });


//After each individual kestroke, send question to the server
//to see if the current word as typed so far is long enough to
//be seen as a word.
//
//Using the keyup() function because when the user releases a key
//on the keyboard, the keyup event is immediately sent to the
//element that the user entered.


$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // input field stored in variable txt
   var keycode = event.which;      
   // this holds the 'value' of the key that was pressed
   var letter = String.fromCharCode(keycode);
   
   //String.fromCharCode is a Javascript function that converts unicode
   // values into characters.
   // This allows for the use of spaces, special characters, and numbers
   // to be read into var letter. The if statement specifically checks that
   // only letters of the alphabet are being received.

   if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }

   //within the function check() in flask_vocab.py
   // as demonstrated by lecture/lecture slides
   $.getJSON( "/_check", { text: txt },
              function(data) {
                console.log("valid: " + data.result.valid)
                
                //added to show if letters being typed are possible letters
                // to be used by the user.
                //if (data.result.cant_make) {$("#attempt").val("");}
                if (data.result.valid) { 
                    //if word is in the bag, use predeclared ids to have
                    // message appear on users screen.
                    $("#message").html("");
                    $("#response").html("<h2>You found </h2>");
                    $("#attempt").val("");
                    $("#matches").append(data.result.matches[data.result.matches.length-1] + " ");
                } else if (data.result.already_found) {
                    //checking to see if word has already been found by user
                    $("#message").html("You already found " + data.result.matches);
                } else if (data.result.not_in_list) {
                    //checking to see if word is present in the list
                    $("#message").html(data.result.text + " isn't in the list of words");
                } else if (data.result.cant_make) {
                    //added feature to check if the word can be made for given letters
                    $("#message").html(data.result.text + " can't be made from the letters " + data.result.jumble);
                }
                if (data.result.target <= data.result.matches.length) {
                    window.location = "/success"
                }
            }
        );
   });

</script>

 </div> <!-- container -->
</body> </html>
